.wrap {
  margin: 0;
  padding: 5% 0 20% 0;
  /* border:1px solid grey; */
}

.title {
  text-align: center;
  font-size: 1.2em;
  padding: 0 0 3vh 0;
}

.contact {
  text-decoration: none;
  /* border:1px solid #ffda79; */
  width:98%;
  text-align: center;
  padding:10px 0;
  /* margin-bottom: 20%; */
  margin-left: 1%;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f7f1e3;
  display: block;
  color: black;
}

.button {
  margin-bottom: 1vh;
}