.wrap {
  margin: 0;
  padding: 20vh 0 20vh 0;
  /* border:1px solid grey; */
  overflow-x:hidden; 
}

.title {
  text-align: center;
  font-size: 1.2em;
  padding: 0 0 5vh 0;
  color: #45793d;
}

.contact {
  text-decoration: none;
  /* border:1px solid #ffda79; */
  width:98%;
  text-align: center;
  padding:10px 0;
  margin-bottom: 2vh;
  margin-left: 1%;
  cursor: pointer;
  border-radius: 5px;
  background-color:#d8e0d6;
  display: block;
  color: black;
}

.button {
  margin-bottom: 1vh;
}