.wrap {
    text-align: center;
}

.calendarHeader {
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 1vh;
}

.calendarContents {
    border: none;
}

.calendar {
    background-color: white !important;
}