.footer {
  position:fixed !important;
  bottom:0 !important;
  width:100% !important;
  text-align: center !important;
  height: 10vh !important;
  line-height: 10vh !important;
  z-index: 999999999 !important;
  padding: 2% 0 1% 0 !important;
  background-color: #f7f1e3 !important;
}

.smallText {
  font-size: 1.2em;
  margin: 0;
}
