.footer {
  position:fixed;
  bottom:0;
  width:100%;
  text-align: center;
  height: 10vh;
  line-height: 10vh;
  z-index: 999999999;
  padding: 2% 0 1% 0;
  background-color: #f7f1e3;
}

.smallText {
  font-size: 1.2em;
  margin: 0;
}
