* {
  margin:0;
  padding: 0;
}

.header {
  /* border: 1px solid tomato; */
  text-align: center;
  position:fixed;
  top:0;
  width:100%;
  z-index: 9999999999999;
  padding-bottom: 10px;  
  background-color: white;
  height:70px;
  padding-top:5px;
}

.first {
  /* border: 1px solid blue; */
  width:100%;
  height: 80px;
  text-align: center;
  padding-left:11%;
}

.second {
  /* border: 1px solid green; */
  /* width:100%;
  height:35px;
  line-height: 35px;
  text-align: center;
  font-size: 1.1em; */
}

.heart {
  /* border:1px solid blue; */
  padding: 0 5%;
  font-size: 0.8em;
  line-height: 50px;
}

.name {
  /* border:1px solid grey; */
  height: 80px;
  line-height: 80px;
  font-size: 1.3em;
  width:32%;
  float: left;
  text-align: center;
}

.dateImg {
  width:60px;
  height:60px;
  margin-top:8px;
  float:left
}