* {
  margin:0;
  padding: 0;
}

.header {
  /* border: 1px solid tomato; */
  text-align: center !important;
  position:fixed !important;
  top:0 !important;
  width:100% !important;
  z-index: 9999999999999 !important;
  /* padding-bottom: 15px;   */
  background-color: #ffda79 !important;
  height:80px !important;
  /* padding-top:5px; */
}

.first {
  /* border: 1px solid blue; */
  width:100%;
  height: 80px;
  text-align: center;
  /* padding-left:11%; */
  border-bottom: #ecf0f1;
}

.heart {
  /* border:1px solid blue; */
  padding: 0 5%;
  font-size: 0.8em;
  line-height: 50px;
}

.name {
  /* border:1px solid grey; */
  height: 80px;
  line-height: 80px;
  font-size: 1.3em;
  width:42.5%;
  float: left;
  text-align: center;
}

.name:nth-child(2) {
  width:15%;
}

.dateImg {
  width:60px;
  height:60px;
  margin-top:8px;
  float:left
}