.wrap {
  margin: 0;
  padding: 20% 0 20% 0;
  /* border:1px solid grey; */
  overflow-x:hidden; 
  overflow-y:auto;
}

.title {
  text-align: center;
  font-size: 1.2em;
  padding: 0 0 5vh 0;
  color: #45793d;
}

.map {
  margin:0;
  padding:0;
  width: auto;
  height: 35vh;
}

.searchMap {
  text-decoration: none;
  /* border:1px solid #ffda79; */
  width:98%;
  text-align: center;
  padding:10px 0;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 1%;
  cursor: pointer;
  border-radius: 5px;
  background-color: #d8e0d6;
  display: block;
  color: black;
}

.info {
  padding: 2vh 0 2vh 1%;
  font-size: 0.9em;
}

.bold {
  font-weight: bold;
  font-size: 1.0em;
}

p {
  margin-bottom: 10px;
}