.wrap {
  height: 100vh;
  max-height: 100vh;
  vertical-align: middle;
  text-align: center;
}

.poet {
  padding: 20vh 0 0 0;
  font-size: 1.0em;
}

.icon {
  padding: 5vh 0 0 0;
}

.parents {
  padding: 10vh 0 0 0;
}

.parents span {
  font-size: 1.2em;
  font-weight: bold;
}