.wrap {
  height: 100vh;
  max-height: 100vh;
  vertical-align: middle;
  text-align: center;
  /* border:1px solid grey; */
}

.poet {
  padding: 20% 0 20% 0;
  font-size: 1.0em;
}

.icon {
  padding: 5vh 0 0 0;
  color: #ffb142;
}
